DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ web_db_host }}
DB_PORT={{ web_db_port }}

SECRET_KEY={{ secret_key }}

PATH={{ web_app_dir }}/BirdWatchingApp/venv/bin